<div class="main-content">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Web Scraper</h1>
            <p class="lead">Click to scrape!</p>
            <button type="button" class="btn btn-primary scrape">Scrape!</button>
        </div>
    </div>
    <div class="container overflow-auto articles">
        {{#each articles}}
        <h4>{{title}}</h4>
        <p>{{summary}}</p>
        <a href="{{link}}" target="_blank">Link to article</a>
        <p>---------------</p>
        {{/each}}
    </div>
   
</div>