<div class="main-content">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Web Scraper</h1>
            <p class="lead">Click to scrape!</p>
            <a href="/data" class="btn btn-primary">Back to articles</a>
        </div>
    </div>
    <div class="container overflow-auto">
       
    </div>
   
</div>