<div class="main-content">
    <div class="container">
        <div class="col-9">
            <h5 class="list-group-item list-group-item-light" id="grabbedArticle" data-id="{{articles._id}}">Commenting On: {{articles.title}}</h5>
            <br>
            <div class="overflow-auto comments-section">
                <div class="comments overflow-auto border border-primary">
                    <ul class="list-group">
                        {{#each articles.comments}}
                            <li class="list-group-item list-group-item-light">{{body}}</li>
                        {{/each}}
                    </ul>

                </div>
            </div>
                <form>
                    <div class="form-group">
                        <label for="commentBox"></label>
                        <textarea class="form-control" id="commentBox" rows="2"></textarea>
                        <button type="submit" class="btn btn-primary" id="submitComment">Submit</button>
                    </div>
                </form>  
                <a href="/data" class="btn btn-primary">Back to articles</a>
        </div>

    </div>
</div>