.articles {
    max-height: 400px;
}

.jumbotron {
   opacity: .8;

}

img {
    max-width: 262px;
    /* float: left; */
}

.btn {
    margin-top: 5px;
}

body {
    background-image: url(../assets/0.jpg);
}

.comments {
min-height: 450px;    
max-height: 450px;
}

.itemRow{
    background-color: #fdfdfe;
    background-color: #e9ecef;
    opacity: .90;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #918988;
}
